body{background-color:#fffae6; font-family:georgia,arial,serif; font-size:18px;}

li{color:#800000; text-decoration:underline; font-weight:bolder;}

p{color:#800000;}

h1{color:black;}

h4{text-decoration:underline;}

img{border:3px solid black;}